@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-slate-50 antialiased min-h-screen;
    /* Configuração da Capa Persistente */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/hero-bg.jpg');
    background-attachment: scroll; /* Rola com a página conforme pedido */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer components {
  .text-glow-cyan {
    text-shadow: 0 0 15px rgba(0, 206, 209, 0.5);
  }
  .text-glow-green {
    text-shadow: 0 0 15px rgba(0, 166, 81, 0.5);
  }
  .terminal-window {
    @apply bg-black/80 border border-white/10 rounded-lg overflow-hidden shadow-[0_0_50px_rgba(0,206,209,0.1)];
  }
}
